<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Class call{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <h1>Select a location</h1>
        {% for location in locations %}
        <tr>
            <td>{{ location.description }}</td>
        </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
