{% extends 'base.html.twig' %}

{% block title %}Class call{% endblock %}

{% block body %}
    <ul class="locationList">
        <h1>Select a location</h1>
        {% for location in locations %}
            <li class="location">{{ location.description }}
            <form action="/getQRCode" method="POST">
                <input type="hidden" name="location" value="{{ location.id }}">
                <input type="submit" value="Envoyer">
            </form>
            </li>
        {% else %}
            <li class="location">No location found</li>
        {% endfor %}
    </ul>
{% endblock %}