{% extends 'base.html.twig' %}

{% block title %}QR-Code{% endblock %}

{% block body %}
    <div class="qrcode">
        <h1>Flash this QR-Code</h1>
        <img src="{{ asset('img/qrcode.png') }}" />
    </div>
{% endblock %}
